@import url(https://fonts.googleapis.com/css?family=Roboto);

html,body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

#header{
	width: 100%;
	height: 150px;
	background-color: #0000FF;
	box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
	overflow: hidden;
}

nav{
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	font-size: 0px;
}

nav{
	height: 150px;
	line-height: 150px;
	color: #fff;
	font-size: 35px;
}

#content{
	width: calc(960px - 100px);
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
}

#content h1{
	font-weight: bold;
	font-size: 25px;
}

#content img{
	width: 100%;
	margin-bottom: 0.5em;
	margin-top: 0.5px;
	box-shadow: 0 0 8px 8px white inset;
}

#content p{
	margin-top: 0.5em;
}